:root {
  --sl-font:
    "Geist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #36113e;
  --sl-color-accent: #a400c0;
  --sl-color-accent-high: #e3b6ed;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f1ebf9;
  --sl-color-gray-2: #c5becf;
  --sl-color-gray-3: #9284a4;
  --sl-color-gray-4: #5e516e;
  --sl-color-gray-5: #3e324d;
  --sl-color-gray-6: #2c203a;
  --sl-color-black: #1b1521;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ebc9f3;
  --sl-color-accent: #a700c3;
  --sl-color-accent-high: #4e0e5b;
  --sl-color-white: #1b1521;
  --sl-color-gray-1: #2c203a;
  --sl-color-gray-2: #3e324d;
  --sl-color-gray-3: #5e516e;
  --sl-color-gray-4: #9284a4;
  --sl-color-gray-5: #c5becf;
  --sl-color-gray-6: #f1ebf9;
  --sl-color-gray-7: #f8f5fc;
  --sl-color-black: #ffffff;
}
